<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
    const text_sign_up = '報名';
    const text_date = '日期';
    const text_description = '資訊';
    const text_number = '剩餘名額';
    $( function() {
        // TODO:想更好的命名
        $("#datepickerExpectExamDateStr").datepicker({
            defaultDate:"+2",
            duration: "slow",
            dateFormat: "yy-mm-dd",
            minDate : "0d",
            maxDate : "+30d"
        });
        $("#datepickerBirthdayStr").datepicker({
            duration: "slow",
            dateFormat: "yy-mm-dd",
            minDate : "-100y",
            maxDate : "-18y",
            changeMonth : true,
            changeYear : true,
            showMonthAfterYear : true
        });
        $("#btn_session").on("click", function () {
            $.ajax({
                type: "GET",
                url: "/sessions",
                dataType: "json",
                data: $("#sessionsForm").serialize(),
                success: function (response) {
                    console.log($("form").serializeArray()[0]);
                    let html = `<table border="1" class="table table-hover">\
                        <thead class="table-dark">\
                            <tr>\
                            <th scope="col" class="col-2">${text_date}</th>\
                            <th scope="col" class="col-8">${text_description}</th>\
                            <th colspan="2" scope="col" class="col-1">${text_number}</th>\
                            <th scope="col" class="col-1"></th>\
                            </tr>\
                        </thead>`;
                    const data = response['data'];
                    console.log(data.length);
                    for(let i=0; i<data.length; i++){
                        console.log(data[i]);
                        html = html+'<tr>';
                        html = html+`<td class="col-2">${data[i].date}</td>`;
                        html = html+`<td class="col-8">${data[i].description}</td>`;
                        html = html+`<td class="col-1">${data[i].number}</td>`;
                        let btn_sign_up = '';
                        if (data[i].number >0){
                            btn_sign_up = `<button type="button" name="btn_sign_up" class="btn btn-success" expectExamDateStr='${data[i].expectExamDateStr}' secId='${data[i].secId}' divId='${data[i].divId}'>${text_sign_up}</button>`;
                        }
                        html = html+`<td class="col-1">${btn_sign_up}</td>`;
                        html = html+'</tr>';
                    }
                    html = html+'</table>';
                    $("#result").html(html);
                    $("#result").slideDown(1000);
                    $(".btn.btn-success").on("click", function() {
                        // 除了目前要報名的那場以外都隱藏
                        $(this).parent().parent().siblings().hide();                      // console.log($(this).parent().parent().css('background-color', '#000000'));
                        // alert($(this).attr('date'));
                        $("#signUpForm").slideDown("slow");
                        $("#licenseTypeCode").val($("#licenseTypeCodeSelect").find(":selected").val());
                        $("#secDateStr").val($(this).attr('expectExamDateStr'));
                        $("#dmvNo").val($("#dmvNoSelect").find(":selected").val());
                        $("#secId").val($(this).attr('secId'));
                        $("#divId").val($(this).attr('divId'));
                        
                    });
                },
                error: function (thrownError) {
                    console.log(thrownError);
                }
            });
        });
        $("#btn_results").on("click", function () {
            //TODO: 生成一個表格並放入查詢到的結果，再來是貼上取消報名的id和button
        });
        $("#btn_deleteResults").on("click", function () {
            //TODO: 拿取消報名的id打API去取消並顯示結果成功與否
        });
        $("#btn_signUp").on("click", function (e){
            // TODO: 搞清楚為何這時會重新整理畫面，導致後面的alert會消失，進而讓使用者不知道報名成功沒有
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/sessions",
                dataType: "json",
                // serialize()是給字串，該如何以id轉換成對應的JSON key-value，這就很可能要應用component之類的概念
                data: {
                    "licenseTypeCode": $("#licenseTypeCode").val(),
                    "secDateStr": $("#secDateStr").val(),
                    "dmvNo": $("#dmvNo").val(),
                    "secId": $("#secId").val(),
                    "divId": $("#divId").val(),
                    "idNo": $("#idNo").val(),
                    "birthdayStr": $("#datepickerBirthdayStr").val(),
                    "name": $("#name").val(),
                    "contactTel": $("#contactTel").val(),
                    "email": $("#email").val()
                },
                success: function (response) {
                    alert('報名成功');
                },
                error: function (thrownError) {
                    console.log(thrownError);
                }
            });
            $("#signUpForm").slideUp("slow");
        })
    });
    
    </script>
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>
    </div>
    <div id="languageChoose" class="container">
    <select name="language" class="form-select" size="3">
        <option value="English">English</option>
        <option value="Pilipino">Pilipino</option>
    </select>
    </div>
    <div id="resultsDiv"  class="container">
        <button type="button" id="btn_results" class="btn btn-info">查詢預約紀錄</button>
        <div id="resultsInfo" style="display:none;"></div>
    </div>
    <div id="sessionsDiv" class="container">
    <form id="sessionsForm">
    <select id="licenseTypeCodeSelect" name="licenseTypeCode" class="form-select" size="3" required>
        <option>駕照</option>
        <option value="3">普通重型機車</option>
        <option value="2">普通輕型機車</option>
    </select>
    <select id="dmvNoSelect" name="dmvNo" class="form-select" size="3" required>
        <option>監理所</option>
        <option value="40">臺北區監理所</option>
        <option value="41">板橋監理站</option>
    </select>
    <div class="form-floating">
    <input id="datepickerExpectExamDateStr" name="expectExamDateStr" class="form-control" id="datepicker"  type="text" placeholder="Date" required>
    <label for="datepicker">日期</label>
    </div>
    <button type="button" id="btn_session" class="btn btn-primary">查詢剩餘名額</button>
    </form>
    <form id="signUpForm" style="display:none;">
        <div class="form-floating">
        <input type="text" id="licenseTypeCode" class="form-control" readonly value="3" >
        <label for="licenseTypeCode">駕照</label>
        </div>
        <div class="form-floating">
            <input type="text" id="secDateStr" class="form-control" readonly value="3">
            <label for="secDateStr">日期</label>
        </div>
        <div class="form-floating">
            <input type="text" id="dmvNo" class="form-control" readonly value="3">
            <label for="dmvNo">監理站</label>
        </div>
        <input type="text" id="secId" hidden>
        <input type="text" id="divId" hidden>
        <div class="form-floating">
            <input type="text" id="idNo" class="form-control" placeholder="idNo" required>
            <label for="idNo">身份證字號</label>
        </div>
        <div class="form-floating">
            <input name="BirthdayStr" class="form-control" id="datepickerBirthdayStr"  type="text" placeholder="Date" required>
            <label for="datepickerBirthdayStr">生日</label>
        </div>
        <div class="form-floating">
            <input type="text" id="name" class="form-control" placeholder="名字" required>
            <label for="name">名字</label>
        </div>
        <div class="form-floating">
            <input type="tel" id="contactTel" class="form-control" placeholder="phone" required>
            <label for="contactTel">電話</label>
        </div>
        <div class="form-floating">
            <input type="email" id="email" class="form-control" placeholder="Email">
            <label for="email">電子信箱</label>
        </div>
        <button id="btn_signUp" class="btn btn-primary">報名</button>
    </form>
    <div id="result" style="display:none;"></div>
    </div>
</body>
</html>